*

# >----------------< INCLUDES >----------------< #

# [+]: Git files
!.gitignore

# [+]: Repo files
!LICENSE.md
!README.md

# [+]: Source files
!apps/
!apps/**
!configs/
!configs/**
!packages/
!packages/**

# [+]: Config files
!.editorconfig

# >----------------< EXCLUDES >----------------< #

# [-]: macOS files
.DS_Store
**/.DS_Store
